body{
  font-family: Arial, sans-serif;
  margin:0;
  background:#f4f7fb;
  color:#333;
}

nav{
  background:#0b6b3a;
  padding:15px;
  text-align:center;
}

nav h2{
  color:white;
  margin:0 0 10px;
}

nav a{
  color:white;
  text-decoration:none;
  margin:0 10px;
  font-weight:bold;
}

.hero{
  background:#0b6b3a;
  color:white;
  text-align:center;
  padding:70px 20px;
}

.hero a{
  display:inline-block;
  margin-top:20px;
  background:#ffd54f;
  color:black;
  padding:12px 20px;
  text-decoration:none;
  border-radius:6px;
  font-weight:bold;
}

section{
  max-width:1000px;
  margin:30px auto;
  padding:20px;
}

.card{
  background:white;
  padding:20px;
  margin:20px 0;
  border-radius:10px;
  box-shadow:0 2px 8px rgba(0,0,0,.1);
}

footer{
  background:#222;
  color:white;
  text-align:center;
  padding:30px 20px;
}

footer a{
  color:#ffd54f;
  text-decoration:none;
}
